.game {

    .game-top {
        .stats {}

        .achievements {}
    }

    .game-bot {
        .click {
            width: 500px;
            height: 500px;
            border: 5px solid;
            border-radius: 50%;
            margin: 0 auto;
            cursor: pointer;
        }

        .buy {}
    }
}